<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/newstyle.css">
    <title>REPLUS - HUMAN LAB</title>
</head>
    
<body>
    <div class="container">
        <div class="header">
            <div class="headerLBtn" onClick="location.href='../index.html'">이전</div>
            <div class="headerRBtn" onClick="location.href='./resultView.html'">선택</div>
            <h2>감정목록</h2>
        </div>
        
        <div id="emotionList"></div>
        
    </div>
    <script src="../js/page.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
    
</html>