/********** common CSS **********/
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    
    text-shadow: 0.5px 0.5px grey;
    font-family: "Helvetica Nene", Helvetica, Arial, 맑은 고딕;,"malgun gothic", sans-serif;
}

.header{
    position: fixed;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #999;
    text-align: center;
    z-index: 10;
}

.lBtn{
    position: fixed;
    left: 0px;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 20;
}

.rBtn{
    position: fixed;
    right: 0px;
    margin-top: 15px;
    margin-right: 15px;
    z-index: 20;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered {
  position: relative;
  display: inline-block;
/*  width: 50%;*/
  padding: 1em;
/*  background: orange;*/
/*  color: white;*/
}

.viewClass{
    position: absolute;
}

.list-press{
    background-color: darkgray;
}

.text-flip{
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
}
/********** coldStartView **********/
#coldStart{
    width: 100%;
    height: 100%;
    background-color: azure;
    display: none;
}

#coldStartImg{
    width: 240px;
    height: 240px;
    background-image: url(../res/bono.png);
}
/********** mainView **********/
#mainView{
    width: 100%;
    height: 100%;
}

/********** emotionListView **********/
#emotionList{
    margin-top: 70px;
}
.elist{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

/********** desireListView **********/
#desireList{
    margin-top: 70px;
}
.dlist{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #eee;
}

/********** resultListView **********/
#resultView{
    width: 100%;
}
#resultList{
    margin-top: 70px;
}
.cardHeight{
    
}
.rlist{
    font-size: 16px;
    text-align: center;
    background-color: #fbfbfb;
    border: 1px solid white;
    border-radius: 25px;
    box-shadow: 1px 1px #aaa;
    width: 100%;
    height: 98%;
}
.cardImg{
    width: 50px;
    height: 50px;
    margin: 20px auto;
    background-image: url(../res/bono.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
}