@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/********** common CSS **********/
ul, ol, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
/*    text-shadow: 0.2px 0.1px gray;*/
    font-family: 'Nanum Gothic', serif;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.centered {
  position: relative;
  display: inline-block;
/*  width: 50%;*/
  padding: 1em;
/*  background: orange;*/
/*  color: white;*/
}

.viewClass{
    position: fixed;
    overflow: scroll;
}
/********** common header **********/
.header{
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 10;
}

.mainTitle{
    color:#000;
    font-size: 18px;
/*    text-shadow: 0.5px 0.5px lightgray;*/
}

.subTitle{
    color: darkgray;
    font-size: 8px;
}

.lBtn{
    position: fixed;
    left: 0px;
    margin-top: 5px;
    margin-left: 12px;
    z-index: 20;
}

.rBtn{
    position: fixed;
    right: 0px;
    margin-top: 5px;
    margin-right: 12px;
    z-index: 20;
}

/********** common body **********/
.viewBody{
    margin-top: 40px;
}
.listTitle{
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 2px 0px 2px 10px;
    color: white;
/*    text-shadow: 0.5px 0.5px black;*/
    background-color:dodgerblue;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

.listBox{
    height: 35px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}

.listItem{
    height: 27px;
    line-height: 27px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
}

.listIcon{
    float: left;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 5px;
    text-align: left;
    color: dodgerblue;
/*    text-shadow: 0.5px 0.5px gray;*/
}

.listIconR{
    float: right;
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 5px;
    text-align: left;
    color: dodgerblue;
/*    text-shadow: 0.5px 0.5px gray;*/
}

.listDivider{
    position: absolute;
    width: 1px;
    height: 60%;
    margin-top: 2px;
    margin-left: 28px;
    background-color: lightgray;
}
.listName{
    text-align: center;
    font-size: 15px;
    padding-left: 28px;
}

/********** coldStartView **********/
#coldStart{
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
    z-index: 200;
}

#coldStartImg{
    width: 300px;
    height: 94px;
    background-repeat: no-repeat;
    background-size: 300px 94px;
    background-image: url(../image/logo.svg);
}

/********** loginView **********/
#loginView{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 200;
}
/********** loadView **********/
#loadView{
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
}

#createItem{
    height: 27px;
    line-height: 27px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
/*    box-shadow: 1px 1px #aaa;*/
}

#createList{
    text-align: center;
    font-size: 15px;
}
.load_listName{
    text-align: center;
    font-size: 15px;
}

/********** checkView **********/
#checkView{
    width: 100%;
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
}
/********** mainView **********/
#mainView{
    width: 100%;
    height: 100%;
}
.main_listBox{
    height: 50px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.main_listItem{
    height: 40px;
    line-height: 40px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
}
.main_listName{
    text-align: center;
    font-size: 22px;
}
/********** statisticsView **********/
#statisticsView{
    width: 100%;
    height: 100%;
}
/********** managerView **********/
#managerView{
    width: 100%;
    height: 100%;
}
.mana_inputBox{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.mana_listBox{
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
#mana_CreateItem{
    height: 132px;
    line-height: 132px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
/*    box-shadow: 1px 1px #aaa;*/
}
#mana_CreateName{
    text-align: center;
    font-size: 15px;
}
.mana_listItem{
    height: 137px;
    background-color: whitesmoke;
    border: 1px solid gray;
    border-radius: 5px;
/*    box-shadow: 1px 1px #aaa;*/
    padding-top: 5px;
}
.mana_listLine{
    height: 32px;
/*    line-height: 32px;*/
    text-align: left;
    font-size: 15px;
}
.mana_listLineDel{
    height: 96px;
    line-height: 96px;
    text-align: center;
    font-size: 15px;
}
/********** footer **********/
.footer{
    width: 100%;
    z-index: 100;
    top: auto;
    bottom: 0;
    position: fixed;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px -1px 4px 0px rgba(0,0,0,0.1);
}
.footer li{
    float: left;
    width: 20%;
    text-align: center;
    padding: 3px 0px;
}

.footerSelected{
    background-color: dodgerblue;
    color: white;
/*    text-shadow: 0.5px 0.5px black;*/
}

.naviText{
    font-size: 11px;
}
/********** toast **********/
.toast{
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
}
#toastArea{
    width: 250px;
    height: 30px;
    line-height: 30px;
    font-size: 11px;
    color:white;
    border-radius: 5px;
    background-color: dimgray;
}
/********** loading **********/
.load {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
}

#loadingImg {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-image: url(../image/loading.gif);
}